* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    
}

header {
    display: flex;
    align-items: center;
     border-top: 1px solid #ccc;
     border-bottom: 1px solid #ccc;
     gap: 30px;
}

.headerLeft {
    display: flex;
    align-items: center;

}

.logo{
    padding: 24px 30px;
    border-right: 1px solid #ccc;
}
.headerAddress{
    padding: 20px 30px;
}
.headerAddress h3{
    font-size: 18px;
    margin-bottom: 5px;
    
}
.headerAddress p{
    font-size: 14px;

}
.searchBox{
    flex-grow: 1;
    display: flex;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 15px;
    
}
.searchBox button{
    padding: 15px ;
    background-color: transparent;
    border: none;
}

.searchBox input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
}

.searchBox input:focus{
    outline: none;
}

.headerBtn{
    display: flex;
   margin-right: 40px;
   gap: 40px;
}

.headerBtn button{
    padding: 15px;
    border: none;
    font-size: 16px;
    background-color: transparent;
    
    
}

.headerBtn button:last-child{
    background-color: rgb(12, 131, 31);
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.bannerSection{
    max-width: 1280px;
    margin: auto;

}

.bannerSection img{
    width: 100%;
}
.orderBanner{
    max-width: 1280px;
    display: flex;
    margin: auto;
}

.orderBannerItem{
    flex-basis: 27%;
    margin: 1%;
}

.orderBannerItem img{
    width: 100%;
}

.categorySection{
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

.categoryItems{
 flex-basis: 10%;
 
}

.categoryItems img{
    width: 100%;
}

.productSection{
    max-width: 1280px;
    margin: auto ;
    padding: 30px 0px 0px 0px;
    
}

.headingRow{
display: flex;
justify-content: space-between;
align-content: center;
}

.headingRow h2{
    font-size: 22px;
}

 .headingRow a{ 
    color: #328839;
    font-size: 18px;
} 

.productRow{
    width: 100%;
    display: flex;
    margin: 30px 0px 0px 0px;
    gap: 2%;   
    flex-wrap: wrap;

}

.productItems{
    flex-basis: 15%;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px #ccc;
    margin-bottom: 20px;
}


.productImg{
    text-align: center;
    padding: 15px;
}

.productImg p{
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    padding: 2px;
    font-size: 12px;
    text-align: left;
    gap: 5px;
}

.productContent{
    padding: 15px;
    padding-top: 0px;
}

.productContent h3{
    font-size: 14px;
    margin-bottom: 15px;

}

.productContent p{
    font-size: 14px;
    color: #848080;
}

.btn-price-outer{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.btn-price-outer button{
    padding: 5px 15px;
    background-color: #f7fff9;
    border: 2px solid #328839;
    border-radius: 10px;

}


footer{
   padding: 40px 0px 0px 0px;

}

.footer-mid{
    max-width: 1280px;
    margin: auto;
}

.footer-mid-row1{
    width: 100%;
    display: flex;
    gap: 40px;
}

.footer-mid-row1-left h3{
    margin-bottom: 20px;
}
.footer-mid-row1-left{
    flex-basis: 30%;
}

.footer-mid-row1-right{
    flex-basis : 70%;
}

.usefulLinks{
display: flex;
}

.usefulLinks ul{
    flex-basis: 33%;
    list-style: none;
}
.usefulLinks ul li a{
    color: #909090;
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
}


.CategoriesHeadingRow{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
    
}
.CategoriesHeadingRow a{
    color: #90c699;
}

.FooterLinks__List{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    list-style: none;
    gap: 10px;
}

.FooterLinks__List li{
  flex-basis: 30%;
  
}

.FooterLinks__List li a{
     color: #909090;
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
}


.footer-mid-row2{
    background-color: #fcfcfc;
    padding: 20px 0px;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-mid-row2 p{
flex-basis: 40%;
text-align: center;
font-size: 13px;
}


.appIcons{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.socialLinks{
    display: flex;
    gap: 20px;
}

    .socialLinks i{


        width: 43px;
        height: 43px;
        background-color: #1f1f1f;
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

       }




    
    .footer-mid-row3 p{
        color: #909090;
            font-size: 14px;
            line-height: 20px;
            padding: 20px 0px 0px 0px ;
    }