@media only screen and (min-width : 200px) and (max-width : 575px) {

    header {
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
        gap: 15px;
    }

    .headerLeft {
        justify-content: center;
    }

    .logo {
        padding: 10px;
    }

    .headerAddress {
        padding: 10px;
    }

    .headerAddress p {
        font-size: 12px;
    }

    .headerAddress h3 {
        font-size: 15px;
    }

    .searchBox button {
        padding: 10px;
    }

    .headerBtn {
        position: fixed;
        bottom: 0px;
        justify-content: center;
        width: 100%;
        margin-right: 0px;
        background-color: white;
    }

    .bannerSection {
        display: none;
    }

    .orderBanner {
        flex-direction: column;
        padding: 10px;
    }

    .categoryItems {
        flex-basis: 25%;

    }

    .productSection{
        padding: 30px 10px;
    }

    .productItems{
        flex-basis: 49%;
        
    }
    
.footer-mid-row1{
    flex-direction: column;
    padding: 10px;
}

.footer{
    padding-top: 0px;
}
   
.FooterLinks__List li{
  flex-basis: 48%;
  
}

.footer-mid-row2{
    flex-direction: column;
    gap: 20px;
}









.footer-mid-row3{
    padding: 0 10px;
}










}